.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

#ignore robot output
robot/output

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
